#center{
  width: 363px;
  height: 560px;
  margin: auto;
}

.h1{
  font-family: Impact, Charcoal, sans-serif;
  font-size: 25px;
  width: 150px;
  height: 70px;
  margin: auto;
}

.search{
  color: teal;
  padding: auto;
  font-size: 18px;
  font-family: Impact, Charcoal, sans-serif;
}
#text{
  border-radius: 9px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#button1{
  display: inline-block;
  padding: auto;
  background-color: white;
  color: teal;
  border: 3px solid teal;
  border-radius: 10px;
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#button1 span {
  cursor: pointer;
  color: darkred;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

#button1:hover span {
  padding-right: 20px;
}

#button1:hover span:after {
  opacity: 3;
  right: 0;
  color: teal;
}

#button1:hover{
  background-color: cadetblue;
  color: gold;
}

#button2{
  font-family: Impact, Charcoal, sans-serif;
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: white;
  color: teal;
  border: none;
  border-radius: 10px;
  box-shadow: 0 6px silver;
  margin: auto;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

#button2:hover {
  opacity: 1;
  background-color: black;
  6}

#button2:active {
color: maroon;
  background-color: teal;
  box-shadow: 0 3px black;
  transform: translateY(4px);
}

.h2{
  width: 150px;
  height: 70px;
  margin: auto;
  color: darkred;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
}

.h2:hover{
  color: gold;
}

#image {
  width: 363px;
  height: 290px;
  border-left: 8px maroon ridge;
  border-bottom: 8px maroon ridge;
  padding: 0px;
  border-radius: 5px;
}

#image:hover{
  border-left: 8px gold outset;
  border-bottom: 8px gold outset;
}

.about_q{
  color: dimgrey;
  font-family: Impact, Charcoal, sans-serif;
}

.about_q:hover{
  color: teal;
}

.about_a{
 color: silver;
 font-family: Impact, Charcoal, sans-serif;
}

.about_a:hover{
  color: maroon;
}